*{
    box-sizing: border-box;

}

header{
    height:100px;
    border:solid 1px black;
    clear:both;
}

section{
    width:50%  ;
    height: 567px;
    border: solid 1px black;
    float:left;

}

li{
    list-style: none;
    float:left;
    padding:10px
}



img{
    width: 519px;
    height: 567px;
}

.text{
    height: 366px;
    width: 532px;
    line-height:10px;
}

h2 span{
    font-size: 40px;
}
#content1::after{
    content: "\a";
    white-space: pre;
}
#content2::after{
    content: "\a";
    white-space: pre;
}

#mission1{
    content: "\a";
    white-space: pre;
}
p span{
    font-size: 24px;
}

/* header spacing */
a:link {
    text-decoration: none;
    color:black;
  }
#left{
      height:50px;
      width: 33.33%;
      border: solid 1px red;
      float:left;
  }

  #middle{
    height:50px;
    width: 33.33%;
    border: solid 1px red;
    float:left;
    
}
#right{
    height:50px;
    width: 33.33%;
    border: solid 1px red;   
    float:left;
}